@font-face {
    font-family: "branding";
    src: url("/src/assets/fonts/horizon.otf") format("otf");
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "menu";
    src: url("/src/assets/fonts/Oswald-VariableFont_wght.woff") format("woff");
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "text";
    src: url("/src/assets/fonts/Roboto-Regular.woff") format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }