/* ./src/index.css */
@import url("/src/assets/fonts/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* ONLY COLORS (elements, borders, text) AND ANIMATIONS HERE */
    /* PageHeader.vue */
    .holz-app-nav {
        /* the whole top nav bar */
        @apply bg-primary-0 dark:bg-primary-1000
        border-b border-gray-200 dark:border-gray-600;
    }
    .holz-app-nav-toggle {
        /* theme switcher */
        @apply bg-primary-1000 dark:bg-gray-700
        peer-checked:after:border-orange-400 after:bg-orange-500 after:border-orange-400
        dark:border-gray-600 peer-checked:bg-primary-0;
    }
    .holz-mobile-nav {
        /* the whole mobile menu */
        @apply text-gray-500 hover:bg-gray-100
        dark:text-gray-400 dark:hover:bg-gray-700;
    }
    .holz-app-nav-button {
        /* router's ul's links */
        @apply text-primary-1000 dark:text-primary-0 dark:hover:text-orange-600 hover:text-orange-600;
    }
    
    /* PageFooter.vue */
    .holz-app-footer {
        /* the whole footer style */
        @apply bg-primary-0 dark:bg-primary-1000;
    }
    .holz-app-footer-text {
        /* copyright and creator */
        @apply text-primary-1000 dark:text-primary-0;
    }
    .holz-app-footer-link {
        /* copyright's and creator's links */
        @apply hover:underline hover:text-orange-500;
    }
    .holz-app-footer-icon-link {
        /* hover colors for icons */
        @apply dark:text-gray-400 dark:hover:text-white hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-600 text-gray-500;
    }
}

@layer utilities {
    .holz-app-nav-button-arrow {
        position: relative;
    }
    .holz-app-nav-button-arrow::before,
    .holz-app-nav-button-arrow::after {
        content: '';
        position: absolute;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: #f97316; /* tailwind orange-500 */
      }
    /* upper */
    .holz-app-nav-button-arrow::after {
        bottom: 0;
        transform: skewX(-45deg);
    }
    /* lower */
    .holz-app-nav-button-arrow::before {
        bottom: 1.5px;
        transform: skewX(45deg);
    }
    .slide-enter-active, .slide-leave-active {
        transition: all .3s ease;
      }
    .slide-enter, .slide-leave-to {
        transform: translateX(100%);
    }
}